<!DOCTYPE html>
<html>
<head>
	<title>Cocktail</title>
	<link rel="stylesheet" href="{{ asset('assets/css/style.css') }}" type="text/css" />

</head>
<body>

	<header class="footer">

		<img class="logo-footer" src="{{ asset('assets/img/logo.webp') }}" alt="logo cocktail" />

		<nav class="nav-footer">

           <h4 class="nav-footer">Copyright 2023</h4>

		</nav>

	</header>