
{% extends 'base.html.twig'%}

{% block metatitle %} 
		Les cocktails
{% endblock metatitle %}


{% block main %}

<main class="main">

		<h1 class="main-title">Liste des cocktails </h1>


		{% include 'partials/cocktail/_loop-cocktail.html.twig' %}

	</main>

{% endblock main %}
